@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat";
}

header nav {
  background-color: #3386ff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 100px;
}

header nav .brand {
  font-size: 24px;
  font-weight: 700;
  color: #ffff;
}

header nav .search-input {
  flex-grow: 1;
  text-align: center;
}

header nav .search-input .search-bar {
  height: 45px;
  width: 600px;
  padding: 20px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
}

header nav .login-link li {
  display: inline;
  margin-left: 20px;
  list-style: none;
  font-size: 24px;
  color: #ffff;
  font-weight: 700;
}

header nav .login-link li a {
  text-decoration: none;
  color: #ffff;
}
